// OSCARS NOMINATION

.nomination {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 400px;
  padding-top: 5em;

  &_title {
    width: 58%;
    height: 300px;
  }

  &_title img {
    height: 100%;
  }

  &_title h3 {
    position: relative;
    bottom: 100%;
    text-align: left;
  }

  .oscars_image {
    position: relative;
    height: 130px;
    width: 280px;
  }
}

/* Suppression des styles .site-footer::before et .site-footer::after */

.site-footer::before,
.site-footer::after {
  display: none;
}

/*Ajout des fleurs dans la section nominations*/

.nomination::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 7em;
  top: 5%;
}

.nomination::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -6em;
  top: -5%;
}
