.main-navigation {
  background-color: #ffd5a2;
  display: flex;
  width: 100%;

  .site-title {
    display: flex !important;
    align-items: center;
    margin-left: 38%;

    &:hover {
      color: black;
    }
  }

  .hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 25px;
    margin-left: 85%;

    &.active {
      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: black;
    }
  }

  .nav_menu,
  .logo_menu,
  .flowers_menu,
  .cats_menu,
  .text_menu {
    position: fixed;
    left: -150%;
    top: 80px;
    flex-direction: column;
    background-color: #fff5e9;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    pointer-events: none;

    &.active {
      left: 0;
    }
  }

  .nav_container {
    height: 50%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .nav_link {
    font-size: 32px;
    transition: 0.7s ease;
    pointer-events: auto;

    &:hover {
      color: black;
      text-shadow: 0 0 10px rgb(255, 168, 133);
      transition: opacity 0.3s;
    }
  }

  .logo_menu {
    display: flex;
    align-items: center;

    .logo_burger {
      width: 200px;
      height: auto;
    }
  }

  //FLOWERS

  .orchid_burger,
  .sunflower_burger,
  .flower_burger,
  .random_flower_burger,
  .hibiscus_burger {
    position: absolute;
    animation: rotate_flower 14s linear infinite;
  }

  .orchid_burger {
    top: 50px;
    left: -55px;
    width: 150px;
    height: auto;
  }

  .sunflower_burger {
    top: 60px;
    left: 70%;
    width: 200px;
    height: auto;
  }

  .flower_burger {
    top: 310px;
    left: 20%;
    width: 50px;
    height: auto;
  }

  .random_flower_burger {
    top: 250px;
    right: -30px;
    width: 55px;
    height: auto;
  }

  .hibiscus_burger {
    top: 340px;
    right: -200px;
    width: 30%;
  }

  // CATS

  .blue_cat,
  .black_cat,
  .orange_cat {
    position: absolute;
  }

  .blue_cat {
    top: 130px;
    left: 25%;
    width: 110px;
    height: auto;
    animation: floating_blue_cat 6s 1.5s infinite ease-in-out;
  }

  .black_cat {
    top: 300px;
    left: 70%;
    width: 130px;
    height: auto;
    animation: floating_black_cat 6s 1.5s infinite ease-in-out;
  }

  .orange_cat {
    top: 420px;
    left: 8%;
    width: 95px;
    height: auto;
    animation: floating_orange_cat 6s 1.5s infinite ease-in-out;
  }

  //KEYFRAMES CATS

  @keyframes floating_blue_cat {
    0% {
      transform: translate3d(-5px, 10px, 0);
    }

    15% {
      transform: translate3d(8px, -7px, 0);
    }

    50% {
      transform: translate3d(-5px, 2px, 0);
    }

    70% {
      transform: translate3d(8px, -12px, 0);
    }

    100% {
      transform: translate3d(-5px, 10px, 0);
    }
  }

  @keyframes floating_black_cat {
    0% {
      transform: translate3d(10px, 5px, 0);
    }

    15% {
      transform: translate3d(0px, -14px, 0);
    }

    40% {
      transform: translate3d(5px, 0px, 0);
    }

    50% {
      transform: translate3d(-8px, 12px, 0);
    }

    70% {
      transform: translate3d(8px, -8px, 0);
    }

    88% {
      transform: translate3d(4px, 2px, 0);
    }

    100% {
      transform: translate3d(10px, 5px, 0);
    }
  }

  @keyframes floating_orange_cat {
    0% {
      transform: translate3d(3px, 5px, 0);
    }

    15% {
      transform: translate3d(-7px, -14px, 0);
    }

    70% {
      transform: translate3d(-7px, 0px, 0);
    }

    100% {
      transform: translate3d(3px, 5px, 0);
    }
  }

  // TEXT

  .text_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
    background: transparent;

    .text_burger {
      font-size: 16px;
    }
  }
}

// MEDIAQUERIES

@media (min-width: 300px) and (max-width: 768px) {
  .site-header {
    background-color: #ffd5a2;
    height: 80px;
  }

  .main-navigation a {
    display: none;
  }
}
