.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");

  img {
    filter: blur(15px);
    transform: translateX(0);

    &.big__cloud {
      position: relative;
      bottom: 150%;
      left: 200%;
      transition: transform 2s ease-in-out;
    }
    &.small__cloud {
      position: relative;
      bottom: 40%;
      left: 80%;
      transition: transform 2s ease-in-out;
    }
  }
}
